.Card {
  background-color: rgba(0, 0, 0, 0.68);
  display: inline-block;
  text-align: center;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 8px;
  border-radius: 12px;
  color: #EBEEF5;
  position: relative;
  transition: all 0.5s case-out;
  margin: 6px;
  justify-content: space-around;
  font-style: oblique;
  gap: 15px;
}









.button {
    color: gray;
    border: none;
    cursor: pointer;
  }
  .buttonP {
    color: gray;
    border: none;
    cursor: pointer;
  }
  .liked {
    color: red;
    border: none;
    cursor: pointer;
  }